
.badge {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 3px 5px;
    cursor: pointer;
  border: 2px solid transparent;
  &.active{
    border-color: #525252;
  }
  &.badge--green {
    background-color: #42B883;
  }
  &.badge--grey {
    background-color: #C9D1D3;
  }
  &.badge--blue {
    background-color: #64C4ED;
  }

  &.badge--pink {
    background-color: #FFBBCC;
  }
  &.badge--lime {
    background-color: #B6E6BD;
  }
  &.badge--purple {
    background-color: #C355F5;
  }
  &.badge--black {
    background-color: #110133;
  }
  &.badge--red {
    background-color: #FF6464;
  }
}